{%extends 'index.html'%}
{%block content%}
<h1 style="margin-top: 120px;color: red; text-decoration: underline;text-align: center;">You are booking for bellow details</h1>


<table style="width:20%;margin-top:70px;margin-left: 670px;margin-bottom:50px;">
<tr>
<th><button style="background-color:yellow; width: 150px;height:50px;font-weight:bold;border-radius:10%;color: black; font-weight:bold;"disabled>Seat number</button></th>
<th><button style="background-color:yellow; width: 150px;height:50px;font-weight:bold;border-radius:10%;color: black; font-weight:bold;"disabled>Slot number</button></th>
<th><button style="background-color:yellow; width: 150px;height:50px;font-weight:bold;border-radius:10%;color: black; font-weight:bold;"disabled>Check in date</button></th>


</tr> 

<tr>
    <form method="post" action="http://127.0.0.1:8000/createbooking/">
        {% csrf_token %}


        <td><input type="" name="seat" id="seat" value="{{seat}}"style="background-color:yellow; width: 150px;height:50px;font-weight:bold;border-radius:10%; text-align:center" readonly></td>
        <td><input type="" name="slot" id="slot" value="{{slot}}"style="background-color:yellow; width: 150px;height:50px;font-weight:bold;border-radius:10%; text-align:center" readonly></td>
        <td><input type="" name="dt" id="dt" value="{{bdt}}"style="background-color:yellow; width: 150px;height:50px;font-weight:bold;border-radius:10%; text-align:center" readonly></td>
    
</tr>
</table>
<input type="submit" name="submit" id="submit" value="  Click to Confirm"style="background-color:green; width: 150px;height:50px;font-weight:bold;border-radius:10%; margin-left:800px; margin-top:10px;">
</form>
{{msg}}

</div>
{%endblock%}