{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/index.css'%}">
  <script src="https://kit.fontawesome.com/85c910c1e9.js" crossorigin="anonymous"></script>
  <title>Portfolio</title>
</head>

<body>
      <nav>
        <ul id="sidemenu">
          <li><a href="{%url 'home'%}" style="font-weight:bold;">Home</a></li>
          <li><a href="{%url 'davailable'%}" style="font-weight:bold;">Explore</a>
          <li><a href="{%url 'mybooking'%}" style="font-weight:bold;">My Bookings</a></li>
          <li><a href="{%url 'about'%}" style="font-weight:bold;">About</a></li>
          <li><a href="{%url 'contact'%}" style="font-weight:bold;">Contact</a></li>
                        {%if user.is_authenticated%}
          <li><a href="{%url 'logout'%}" style="font-weight:bold;">Logout</a></li>
                        {%else%}
          <li><a href="{%url 'login'%}" style="font-weight:bold;">Login</a></li>
          <li><a href="{%url 'signup'%}" style="font-weight:bold;">Signup</a></li>
                        {%endif%}


          <i class="fas fa-times" onclick="closemenu()"></i>
        </ul>

        <i class="fas fa-bars" onclick="openmenu()"></i>
      </nav>
   
  
{%block content%}

{%endblock%}

  <script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");
    function opentab(tabname) {
      for (tablink of tablinks) {
        tablink.classList.remove("active-link");
      }
      for (tabcontent of tabcontents) {
        tabcontent.classList.remove("active-tab");
      }
      event.currentTarget.classList.add("active-link");
      document.getElementById(tabname).classList.add("active-tab");
    }
  </script>

  <script>

    var sidemenu = document.getElementById("sidemenu");

    function openmenu() {
      sidemenu.style.right = "0";
    }
    function closemenu() {
      sidemenu.style.right = "-200px";
    }
  </script>
</body>

</html>