{% extends 'index.html' %}
{% block content %}
{% load static %}

                <div class="container" style="margin-right: 20px;margin-top: 70px;margin-left:450px;width:60%;">
                   
                        <div class="col-md-6 col-lg-7 d-flex  align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black" style=" border-radius:1rem 1rem 1rem 1rem ;background-image:url('/static/images/login_bg.jpg');">
                                 <!-- <div class="container">
                        <img src="/static/images/freewatch_logo.png" alt="Simply Easy Learning" width="200" height="130">
                    </div> -->

                                <form action="{% url 'signup' %}" method="post">
                                    {% csrf_token %}

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> 
                                       
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;color: white;">Sign up here
                                    </h5>
                                    {% if error_message %}
                                    <p class=p-d ml-b style="background-color: #ff0000;">{{ error_message }}</p>
        
                                    {% endif %}

                                    <div class="form-outline mb-4 "style="color:white;">
                                        <label class="form-label" for="form2Example17" style="font-weight: bold;color: yellow;font-size: larger;" >username</label>
                                        <input name="username" value="" type="text" class="form-control" />
                                        
                                    </div>
                                   

                                    <div class="form-outline mb-4"style="color:white;">
                                        <label class="form-label" for="form2Example27" style="font-weight: bold;color: yellow;font-size: larger;">Password</label>
                                        <input name="password" type="text" class="form-control" />
                                        
                                    </div>

                                     <div class="form-outline mb-4"style="color:white;">
                                        <label class="form-label" for="form2Example27" style="font-weight: bold;color: yellow;font-size: larger;">Re-enter Password</label>
                                        <input name="password_again" type="text" class="form-control" />
                                        
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <input name="submit" type="submit" value="Submit" class="btn btn-success" />
                                        &nbsp;
                                    </div>
            
                                    <p class="mb-5 pb-lg-2" style="color: black;margin-left:15px;font-weight: bold;font-size: larger;background-color:whitesmoke;">Already user? <a href="{%url 'login'%}"
                                            style="color:blue;font-weight: bold;font-size: larger;margin-top: 15px;">Login here</a></p>
                                    
                                </form>

                            </div>
                        </div>
                        </div>
                 
{%endblock%}